<strong>Olá {{provider}}</strong>

<p>
    Houve um cancelamento, confira as informações abaixo: <br>
    <br>
    <strong>Cliente: </strong> {{user}} <br>
    <strong>Data: </strong> {{date}} <br>
    <br>
    <small>O horário está livre para novos agendamentos</small>
</p>